<div class="container" {{on-key "Escape" this.routeChange}}>
    <h1>Movie List</h1>
    <hr>

    <div class="bulk-delete">
        <button id="bulk-delete-btn" type="button"{{on-key "Delete" this.bulkDeleteTask.perform}} {{on "click" this.bulkDeleteTask.perform}} {{on-click-outside this.messageHidden}}>Delete Selected</button>
        {{#if this.isMessage}}
        <span id="select-msg">(Double click the movie list to select the movie)</span>
        {{/if}}
    </div>

    {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} class="flash-message"/>
    {{/each}}

    {{#if (or (eq this.currentRoute "movies") (eq this.currentRoute "movies.index"))}}
    <button class="add-page-btn" type="button" {{on-key "Ctrl+c" this.openCreatePage}}>
        <LinkTo class="add-page"  @route="movies.create">
          Create Movie    
        </LinkTo>
    </button>
    {{/if}}

    <input type="text" id="search-movie" {{on "input" this.updateSearchMovie }} placeholder="search movie here">

    <div class="controls" {{on-click-outside this.genreReset}}>
        <label for="genre-filter">Filter by Genre:</label>
        <PowerSelect class="genre" @options={{this.genres}} @selected={{this.selectedGenre}} @onChange={{this.updateGenreFilter}} @placeholder="Select Genre" as |genre|>
        {{genre}}
        </PowerSelect>
    </div>

    <LinkTo class="demo-page" @route="movies.demo-page">
        <button class="demo-btn" type="button" {{on-key "Ctrl+d" this.openDemoPage}}>Demo page</button>
    </LinkTo>

    <button id="info-btn" type="button" {{on-key "Ctrl+i" this.infoMessageShow}} {{on "click" this.infoMessageShow}} {{on-click-outside this.hideInfo}}>Shortcuts Info</button>

    <LiquidIf @predicate={{this.isInfo}} @class="key-info">
    <div class="keyboard-info">
        <ul>
            <li>Add movie - <span>Enter</span></li>
            <li>Save edit - <span>Enter</span></li>
            <li>Cancel edit - <span>Escape</span></li>
            <li>Goback - <span>Escape</span></li>
            <li>Info Button - <span>Ctrl + i</span></li>
            <li>Delete option - <span>Delete</span></li>
            <li>Open Movielist - <span>Ctrl + o</span></li>
            <li>Open create - <span>Ctrl + c</span></li>
            <li>Open Demopage - <span>Ctrl + d</span></li>
        </ul>
    </div>
    </LiquidIf>

    <button class="col-dropdown-btn" type="button" {{on "click" this.toggleDropdown}} >Columns show/hide</button>
    {{#if this.isShowDropDown}}
    <div class="col-dropdown" {{on-click-outside this.hideDropDown}}>
        {{#each this.columnsOptions as |column|}}
        <div> 
            <label><input type="checkbox" checked={{column.visible}} {{on "change" (fn this.toggleColumn column.name)}}>{{column.labelName}}</label>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <div class="movie-list-container">
        {{#if (atleast-one-column-present this.isVisible)}}
        <div class="scrollable-head">
        <table class="movie-table">
            <thead>
                <tr>
                    {{#if this.isVisible.name}}<th>Name</th>{{/if}}
                    {{#if this.isVisible.year}}<th>Year</th>{{/if}}
                    {{#if this.isVisible.genre}}<th>Genre</th>{{/if}}
                    {{#if this.isVisible.format}}<th>Format</th>{{/if}}
                    {{#if this.isVisible.languages}}<th>Languages</th>{{/if}}
                    {{#if this.isVisible.options}}<th>Options</th>{{/if}}
                </tr>
                <tr class="specific-search-tr">
                    {{#if this.isVisible.name}}<th><input type="text" value={{this.specificSearch.name}} {{on "input" (fn this.updateSpecificSearch "name")}} placeholder="search by name" /></th>{{/if}}
                    {{#if this.isVisible.year}}<th><input type="text" value={{this.specificSearch.year}} {{on "input"  (fn this.updateSpecificSearch "year")}} placeholder="search by year" /></th>{{/if}}
                    {{#if this.isVisible.genre}}<th><input type="text" value={{this.specificSearch.genre}} {{on "input"  (fn this.updateSpecificSearch "genre")}} placeholder="search by genre" /></th>{{/if}}
                    {{#if this.isVisible.format}}<th><input type="text" value={{this.specificSearch.format}} {{on "input"  (fn this.updateSpecificSearch "format")}} placeholder="search by format" /></th>{{/if}}
                    {{#if this.isVisible.languages}}<th><input type="text" value={{this.specificSearch.languages}} {{on "input"  (fn this.updateSpecificSearch "languages")}} placeholder="search by languages" /></th>{{/if}}
                    {{#if this.isVisible.options}}<th></th>{{/if}}
                </tr>
            </thead>
        </table>
        </div>
        <div class="scrollable-body"  id="movie-list">
            <table class="movie-table">
                {{#if (is-empty this.filteredMovieList)}}
                <td id="fall-p" colspan="6">No Movies Found,try different filter or search query</td>
                {{else}}
                {{log this.filteredMovieList}}
                <VerticalCollection
                @items={{this.filteredMovieList}}
                @bufferSize={{5}}
                @estimateHeight={{50}}
                @key="id"
                @containerSelector="#movie-list"
                as |movie| >
                    <tr class={{if movie.isSelected "selected"}} {{on "dblclick" (fn this.selectMovie movie)}}>
                        {{#if this.isVisible.name}}<td>{{movie.name}}</td>{{/if}}
                        {{#if this.isVisible.year}}<td>{{movie.year}}</td>{{/if}}
                        {{#if this.isVisible.genre}}<td>{{movie.genre}}</td>{{/if}}
                        {{#if this.isVisible.format}}<td>{{movie.format}}</td>{{/if}}
                        {{#if this.isVisible.languages}}<td>{{join ", " movie.languages}}</td>{{/if}}
                        {{#if this.isVisible.options}}
                        <td>
                            <LinkTo @route="movies.edit" @model={{movie.id}}>
								<button class="edit-btn" type="button">Edit</button>
                            </LinkTo>
                            <button class="delete-btn" type="button" {{on "click" (fn this.deleteMovieTask.perform movie)}}>Delete</button>
                        </td>
                        {{/if}}
                    </tr>
                </VerticalCollection>
                {{/if}}
            </table>
        </div>
        {{else}}
          <p class="fall-p">Select atleast one column</p>
        {{/if}}
    </div>
</div>
