<div class="container" {{on-key "Escape" this.routeChange}}>
    <h1>Movie List</h1>
    <hr>

    <div class="bulk-delete">
        <button id="bulk-delete-btn" type="button"{{on-key "Delete" this.bulkDeleteTask.perform}} {{on "click" this.bulkDeleteTask.perform}} {{on-click-outside this.messageHidden}}>Delete Selected</button>
        {{#if this.isMessage}}
        <span id="select-msg">(Double click the movie list to select the movie)</span>
        {{/if}}
    </div>

    {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} class="flash-message"/>
    {{/each}}

    {{#if (or (eq this.currentRoute "movies") (eq this.currentRoute "movies.index"))}}
    <button class="add-page-btn" type="button" {{on-key "Ctrl+c" this.openCreatePage}}>
        <LinkTo class="add-page"  @route="movies.create">
          Create Movie    
        </LinkTo>
    </button>
    {{/if}}

    <input type="text" id="search-movie" {{on "input" this.updateSearchMovie }} placeholder="search movie here">
    {{#if (eq this.sortingBy "") }}
    <p class="sort-info">(Click on the Column headers to sort the column)</p>
    {{/if}}

    <div class="controls" {{on-click-outside this.genreReset}}>
        <label for="genre-filter">Filter by Genre:</label>
        <PowerSelect class="genre" @options={{this.genres}} @selected={{this.selectedGenre}} @onChange={{this.updateGenreFilter}} @placeholder="Select Genre" as |genre|>
        {{genre}}
        </PowerSelect>
    </div>

    <LinkTo class="demo-page" @route="movies.demo-page">
        <button class="demo-btn" type="button" {{on-key "Ctrl+d" this.openDemoPage}}>Demo page</button>
    </LinkTo>

    <button id="info-btn" type="button" {{on-key "Ctrl+i" this.infoMessageShow}} {{on "click" this.infoMessageShow}} {{on-click-outside this.hideInfo}}>Shortcuts Info</button>

    <LiquidIf @predicate={{this.isInfo}} @class="key-info">
    <div class="keyboard-info">
        <ul>
            <li>Add movie - <span>Enter</span></li>
            <li>Save edit - <span>Enter</span></li>
            <li>Cancel edit - <span>Escape</span></li>
            <li>Goback - <span>Escape</span></li>
            <li>Info Button - <span>Ctrl + i</span></li>
            <li>Delete option - <span>Delete</span></li>
            <li>Open Movielist - <span>Ctrl + o</span></li>
            <li>Open create - <span>Ctrl + c</span></li>
            <li>Open Demopage - <span>Ctrl + d</span></li>
        </ul>
    </div>
    </LiquidIf>

    <button class="col-dropdown-btn" type="button" {{on "click" this.toggleColumnDropdown}} >Columns show/hide</button>
    {{#if this.isShowColumnDropdown}}
    <div class="col-dropdown" {{on-click-outside this.hideColumnDropDown}}>
        {{#each this.columnsOptions as |column|}}
        <div> 
            <label><input type="checkbox" checked={{column.visible}} {{on "change" (fn this.toggleColumn column.name)}}>{{column.labelName}}</label>
        </div>
        {{/each}}
    </div>
    {{/if}}

     <div class="movie-list-container">
        {{#if (atleast-one-column-present this.isVisible)}}
        <div class="scrollable-head">
        <table class="movie-table">
            <thead>
                <tr class="headers">
                    {{#if this.isVisible.name}}
                    <th style="{{get-column-widths this.columnWidths "name"}}" class="resizable">
                        <div {{on "click" (fn this.sortColumn "name")}}>
                        Name
                        {{#if (eq this.sortingBy "name")}}
                        {{#if (eq this.sortingDirection "ascending")}}<span>&#8593;</span>{{else}}<span>&#8595;</span>{{/if}}
                        {{/if}}
                        </div>
                        <div class="resize-marker" {{on "mousedown" (fn this.resizeColumn "name")}}></div>
                    </th>
                    {{/if}}
                    {{#if this.isVisible.year}}
                    <th style="{{get-column-widths this.columnWidths "year"}}" class="resizable">
                        <div {{on "click" (fn this.sortColumn "year")}}>
                        Year
                        {{#if (eq this.sortingBy "year")}}
                        {{#if (eq this.sortingDirection "ascending")}}<span>&#8593;</span>{{else}}<span>&#8595;</span>{{/if}}
                        {{/if}}
                        </div>
                        <div class="resize-marker" {{on "mousedown" (fn this.resizeColumn "year")}}></div>
                    </th>
                    {{/if}}
                    {{#if this.isVisible.genre}}
                    <th style="{{get-column-widths this.columnWidths "genre"}}" class="resizable">
                        <div {{on "click" (fn this.sortColumn "genre")}} >
                        Genre
                        {{#if (eq this.sortingBy "genre")}}
                        {{#if (eq this.sortingDirection "ascending")}}<span>&#8593;</span>{{else}}<span>&#8595;</span>{{/if}}
                        {{/if}}
                        </div>
                        <div class="resize-marker" {{on "mousedown" (fn this.resizeColumn "genre")}}></div>
                    </th>
                    {{/if}}
                    {{#if this.isVisible.format}}
                    <th style="{{get-column-widths this.columnWidths "format"}}" class="resizable">
                        <div {{on "click" (fn this.sortColumn "format")}} >
                        Format
                        {{#if (eq this.sortingBy "format")}}
                        {{#if (eq this.sortingDirection "ascending")}}<span>&#8593;</span>{{else}}<span>&#8595;</span>{{/if}}
                        {{/if}}
                        </div>
                        <div class="resize-marker" {{on "mousedown" (fn this.resizeColumn "format")}}></div>
                    </th>
                    {{/if}}
                    {{#if this.isVisible.languages}}
                    <th style="{{get-column-widths this.columnWidths "languages"}}" class="resizable">
                        <div {{on "click" (fn this.sortColumn "languages")}} >
                        Languages
                        {{#if (eq this.sortingBy "languages")}}
                        {{#if (eq this.sortingDirection "ascending")}}<span>&#8593;</span>{{else}}<span>&#8595;</span>{{/if}}
                        {{/if}}
                        </div>
                        <div class="resize-marker" {{on "mousedown" (fn this.resizeColumn "languages")}}></div>
                        </th>
                    {{/if}}
                    {{#if this.isVisible.options}}
                    <th class="resizable">
                        <div {{on "click" (fn this.sortColumn "options")}} >
                        <div class="resize-marker options-resize" {{on "mousedown" (fn this.resizeColumn "options")}}></div>
                        Options
                        {{#if (eq this.sortingBy "options")}}
                        {{#if (eq this.sortingDirection "ascending")}}<span>&#8593;</span>{{else}}<span>&#8595;</span>{{/if}}
                        {{/if}}
                        </div>
                        </th>
                    {{/if}}
                </tr>

                <tr class="specific-search-tr">
                    {{#if this.isVisible.name}}<th style="{{get-column-widths this.columnWidths "name"}}"><input type="text" value={{this.specificSearch.name}} {{on "input" (fn this.updateSpecificSearch "name")}} placeholder="search by name" /></th>{{/if}}
                    {{#if this.isVisible.year}}<th style="{{get-column-widths this.columnWidths "year"}}"><input type="text" value={{this.specificSearch.year}} {{on "input"  (fn this.updateSpecificSearch "year")}} placeholder="search by year" /></th>{{/if}}
                    {{#if this.isVisible.genre}}<th style="{{get-column-widths this.columnWidths "genre"}}"><input type="text" value={{this.specificSearch.genre}} {{on "input"  (fn this.updateSpecificSearch "genre")}} placeholder="search by genre" /></th>{{/if}}
                    {{#if this.isVisible.format}}<th style="{{get-column-widths this.columnWidths "format"}}"><input type="text" value={{this.specificSearch.format}} {{on "input"  (fn this.updateSpecificSearch "format")}} placeholder="search by format" /></th>{{/if}}
                    {{#if this.isVisible.languages}}<th style="{{get-column-widths this.columnWidths "languages"}}"><input type="text" value={{this.specificSearch.languages}} {{on "input"  (fn this.updateSpecificSearch "languages")}} placeholder="search by languages" /></th>{{/if}}
                    {{#if this.isVisible.options}}<th></th>{{/if}}
                </tr>
            </thead>
        </table>
        </div>
        <div class="scrollable-body"  id="movie-list">
            <table class="movie-table">
                {{#if (is-empty this.filteredMovieList)}}
                <td id="fall-p" colspan="6">No Movies Found,try different filter or search query</td>
                {{else}}
                 {{log this.filteredMovieList}} 
                <VerticalCollection
                @items={{this.filteredMovieList}}
                @bufferSize={{5}}
                @estimateHeight={{50}}
                @key="id"
                @containerSelector="#movie-list"
                as |movie| >
                    <tr class={{if movie.isSelected "selected"}} {{on "dblclick" (fn this.selectMovie movie)}} {{on "click" (fn this.showNestedDetails movie.id)}}>
                        {{#if this.isVisible.name}}<td style="{{get-column-widths this.columnWidths "name"}}">{{movie.name}}</td>{{/if}}
                        {{#if this.isVisible.year}}<td style="{{get-column-widths this.columnWidths "year"}}">{{movie.year}}</td>{{/if}}
                        {{#if this.isVisible.genre}}<td style="{{get-column-widths this.columnWidths "genre"}}">{{movie.genre}}</td>{{/if}}
                        {{#if this.isVisible.format}}<td style="{{get-column-widths this.columnWidths "format"}}">{{movie.format}}</td>{{/if}}
                        {{#if this.isVisible.languages}}<td style="{{get-column-widths this.columnWidths "languages"}}">{{join ", " movie.languages}}</td>{{/if}}
                        {{#if this.isVisible.options}}
                        <td>
                            <LinkTo @route="movies.edit" @model={{movie.id}}>
								<button class="edit-btn" type="button">Edit</button>
                            </LinkTo>
                            <button class="delete-btn" type="button" {{on "click" (fn this.deleteMovieTask.perform movie)}}>Delete</button>
                        </td>
                        {{/if}}
                    </tr>
                    {{#if (eq this.NestedMovieId movie.id)}}
                    <tr class="nested-tr">
                        <td colspan="6">
                             <NestedMovieTable>
                                <table>
                                <tbody>
                                    <tr>
                                    <td colspan="1">Description</td>
                                    <td class="nested-details"  colspan="5">{{movie.description}}</td>
                                    </tr>
                                    <tr>
                                    <td colspan="1">Cast</td>
                                    <td class="nested-details" colspan="5">{{movie.cast}}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </NestedMovieTable>
                        </td>
                    </tr>
                    {{/if}}
                </VerticalCollection>
                {{/if}}
            </table>
        </div>
        {{else}}
          <p class="fall-p">All columns are hidden. Use columns-dropdown to show some of them</p>
        {{/if}}
    </div>




</div>
